* {
    box-sizing: border-box;
}
body {
background-color:  hsl(204, 43%, 93%);
}
.container {
    height: 430px;
    border-radius: 40px;
    width: 600px;
    margin: auto;
    margin-top: 70px;
   box-sizing: border-box;
   grid-template: 1fr 1fr 1fr;
   display: grid;
}
.card1 {
   
    padding: 25px 35px 35px 35px;
    background-color: white;
   font-size: 16px;
    height: 200px;
    letter-spacing: 2px;
    line-height: 10px;

}
.card1 h2 {
   
    color: hsl(179, 62%, 43%);
    font-weight: 400;
}
.card1 h3 {
    color: hsl(71, 73%, 54%);
    font-weight: 400;
    line-height: 35px;
    margin-top: -3px;
}
.card1 h5 {
    color:  hsl(218, 22%, 67%);
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    margin-top: -9px;
}
.column {
    display: grid;
    grid-template-columns:1fr 1fr;
    height: 200px;
    width: 600px;
   
}
.card2 {
    color: hsl(0, 0%, 100%);
    background-color: hsl(179, 62%, 43%);
    width: 300px;  
    padding:  25px 35px 35px 35px ;
}
.card2 h3 {
    font-weight: 400;
}

.card2 h4 {
  font-weight: 300;
  font-size: 16px;
  
}
.signup {
    background-color: hsl(71, 73%, 54%);
    align-items: center;
    margin: auto;
    color: hsl(0, 0%, 100%);
    height: 40px;
    width: 220px;
    border-radius: 5px;
    border: none;
    outline: none;
}
.signup:hover {
    background-color:white;
}
.signup:active {
    background-color: hsl(71, 73%, 54%);
}
.card3 {
  padding: 25px 35px 25px 35px ;
    color: hsl(0, 0%, 100%);
    background-color: hsla(179, 62%, 43%, 0.8);

}
.card3 h5 {
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 16px;
    color: hsl(204, 43%, 93%);
}
.attribution {
    margin-top: 100px;
}